<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PetBook</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
  
   


</head>

<body>
    <style>
        body {
            background-image: url(../PetBookBG.png);
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
    </style>

    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-transparent border-bottom box-shadow mb-3">
            <div class="container">
                <div class="row">
                    <div class="col-2">
                        <img src="~/hunterdog.png" style="float:right" alt="hunterdog">
                    </div>
                </div>
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Dashboard">PetBook</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Dashboard">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Calendar" asp-action="Index">Events List</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Client" asp-action="DetailsClient">Your Account</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="MedicalFiles" asp-action="DetailsMedicalFile">Medical Files</a>
                        </li>
                    </ul>

                </div>
            </div>
            <div class="row">
                <div class="col-11">
                    <img src="~/CompanyLogo.png" style="float:right" alt="Company Logo">
                </div>
            </div>
        </nav>
        
    </header>




    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>



    <div class="row"></div>

    <div class="container">
        <footer class="border-top footer text-muted" style="position:relative; padding: 5px">

            <div class="row"></div>
            <div class="col-12">
                <div class="container">
                    @{ var theMonth = DateTime.Now.Month; }
                    &copy; 2020 - PetBook - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </div>
                <script src="~/lib/jquery/dist/jquery.min.js"></script>
                <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
                <script src="~/js/site.js" asp-append-version="true"></script>
                @RenderSection("Scripts", required: false)
            </div>
        </footer>

    </div>




</body>
   
</html>
