@model PetBook.Models.Pet
@{
    ViewData["Title"] = "Edit a Pet";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h4>Pet</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PetId" />
            <div class="form-group">
                <label asp-for="PetName" class="control-label"></label>
                <input asp-for="PetName" class="form-control" />
                <span asp-validation-for="PetName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PetSpecies" class="control-label"></label>
                <input asp-for="PetSpecies" class="form-control" />
                <span asp-validation-for="PetSpecies" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PetBreed" class="control-label"></label>
                <input asp-for="PetBreed" class="form-control" />
                <span asp-validation-for="PetBreed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PetSex" class="control-label"></label>
                <input asp-for="PetSex" class="form-control" />
                <span asp-validation-for="PetSex" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Age" class="control-label"></label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PetImage" class="control-label"></label>
                <input asp-for="PetImage" class="form-control" />
                <span asp-validation-for="PetImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PetProfileImagePath" class="control-label"></label>
                <input asp-for="PetProfileImagePath" class="form-control" />
                <span asp-validation-for="PetProfileImagePath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
