@model PetBook.Models.Veterinarian

@{
    ViewData["Title"] = "Create Vet";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<div class="container-fluid" style="background-color: transparent">

    <!--This is the container for the body render-->
    <div class="container-fluid">
        <div class="card mb-lg-1" style="max-width:1200px; background-color: transparent; border-width: 0px">
            <div class="row">

                <!--This is the profile image-->
                <div class="col-md-3" style="padding: 30px">
                    <img src="~/ProfilePic.png" alt="User Profile" class="img-thumbnail">

                    <!--This is the side navigation bar-->
                    <!--TODO-->
                    <ul class="nav flex-column">
                        <li class="nav-item" style="padding-top:10px">
                            <a class="nav-link" asp-area="" asp-controller="Pet" asp-action="CreatePet">My Pets Profiles</a>
                        </li>
                        <!--TODO-->
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Veterinarian" asp-action="Create">Add New Veterinarian</a>
                        </li>
                        <!--TODO-->
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Appointment" asp-action="Create">Make Vet Appointment</a>
                        </li>
                        <!--TODO-->
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Veterinarian" asp-action="Edit">Edit Veterinarian Details</a>
                        </li>
                        <!--TODO-->
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Veterinarian" asp-action="Index">E-mail Your Veterinarian</a>
                        </li>
                        <!--TODO-->
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Veterinarian" asp-action="Delete">Remove Veterinarian</a>
                        </li>
                        <!--TODO-->
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"></a>
                        </li>
                    </ul>
                </div>

                <div class="col-6" style="padding-left: 50px">

                    <h1>Create</h1>

                    <h4>Veterinarian</h4>
                    <hr />
                    
                    
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="VetId" class="control-label"></label>
                            <input asp-for="VetId" class="form-control" />
                            <span asp-validation-for="VetId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="VetName" class="control-label"></label>
                            <input asp-for="VetName" class="form-control" />
                            <span asp-validation-for="VetName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="VetEMail" class="control-label"></label>
                            <input asp-for="VetEMail" class="form-control" />
                            <span asp-validation-for="VetEMail" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="VetStreetAddress" class="control-label"></label>
                            <input asp-for="VetStreetAddress" class="form-control" />
                            <span asp-validation-for="VetStreetAddress" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="TownOrCity" class="control-label"></label>
                            <input asp-for="TownOrCity" class="form-control" />
                            <span asp-validation-for="TownOrCity" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="State" class="control-label"></label>
                            <input asp-for="State" class="form-control" />
                            <span asp-validation-for="State" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Country" class="control-label"></label>
                            <input asp-for="Country" class="form-control" />
                            <span asp-validation-for="Country" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="VetPhoneNumber" class="control-label"></label>
                            <input asp-for="VetPhoneNumber" class="form-control" />
                            <span asp-validation-for="VetPhoneNumber" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="VetProfileImagePath" class="control-label"></label>
                            <input asp-for="VetProfileImagePath" class="form-control" />
                            <span asp-validation-for="VetProfileImagePath" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-primary" />
                        </div>
                    </form>
                  
                 

                    <div>
                        <a asp-action="Index">Back to List</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>