
@{
    ViewData["Title"] = "PetBookHomePage";
    Layout = "~/Views/Home/_LayoutHome.cshtml";
}

    <div class="container">
        <div class="row">
            <div class="col-md-2">

                <!--This is the left colum paragraph of company focus-->
                <p>
                    <b>We are here to help you manage your pet's health and wellbeing.</b> <br>
                    <br>
                    In partnership with veterinarians, we strive to serve you with a place to
                    store your pet's health records.<br>
                    <br>This includes medications, vaccinations, proceedures and important information. <br>

                </p>
            </div>
            <!--This is the start of the picture carousel-->
            <div class="col-md-8" style="padding-left:0px">
                <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                        <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                        <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
                        <li data-target="#carouselExampleCaptions" data-slide-to="4"></li>
                        <li data-target="#carouselExampleCaptions" data-slide-to="5"></li>
                    </ol>
                    <!--This is the start of the picture carousel picture 1 Golden Retrievers-->
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="~/Dogs.jpg" class="d-flex w-100" alt="Photo by Jaymantri">
                            <div class="carousel-caption align-items-md-center">
                                <p style="color:black"><small>Photo by Jaymantri</small></p>
                            </div>
                        </div>
                        <!--This is the start of the picture carousel picture 2 two horses-->
                        <div class="carousel-item">
                            <img src="~/Horse.jpg" class="d-flex w-100" alt="Photo by Abdullah Ghatasheh ">
                            <div class="carousel-caption align-items-md-center">
                                <p style="color:black"><small>Photo by Abdullah Ghatasheh</small></p>
                            </div>
                        </div>
                        <!--This is the start of the picture carousel picture 3 Iguana-->
                        <div class="carousel-item">
                            <img src="~/Iguana.jpg" class="d-flex w-100" alt="Photo by Christo Goosen ">
                            <div class="carousel-caption align-items-md-center">
                                <p style="color:black"><small>Photo by Christo Goosen</small></p>
                            </div>
                        </div>
                        <!--This is the start of the picture carousel picture 4 Hamster-->
                        <div class="carousel-item">
                            <img src="~/Hamster.jpg" class="d-flex w-100" alt="Photo by Rudolf Jakkel ">
                            <div class="carousel-caption align-items-md-center">
                                <p style="color:black"><small>Photo by Rudolf Jakkel</small></p>
                            </div>
                        </div>
                        <!--This is the start of the picture carousel picture 5 Cats-->
                        <div class="carousel-item">
                            <img src="~/Cats.jpg" class="d-flex w-100" alt="Photo by Ninz">
                            <div class="carousel-caption align-items-md-center">
                                <p style="color:black"><small>Photo by Ninz </small></p>
                            </div>
                        </div>
                        <!--This is the start of the picture carousel picture 6 Macaw Parrot-->
                        <div class="carousel-item">
                            <img src="~/Macaw.jpg" class="d-flex w-100" alt="Photo by Mahir Dalloul ">
                            <div class="carousel-caption align-items-md-center">
                                <p style="color:black"><small>Photo by Mahir Dalloul</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--This is the left colum paragraph of company focus-->
            <div class="col-md-2">
                <p>
                    We enable you to create events, veterinarian appointments and we also provide a local alert system
                    in the event that a pet is missing or found.<br>
                    <br>
                    Our system notifies all veterinarians and users in a 50 mile radius.<br>
                    <br>
                    <b>We hope that this platform serves as your pets health care manager and makes your life easier.</b>
                </p>
            </div>
            <!--This is the start of the picture colunms and application reviews-->
            <!--This is the start of the picture 1 left colunm ginger cat-->
            <div class="row">
                <div class=" col-4" style="padding-top:20px">
                    <img src="~/gingerCat.jpg" class="img-thumbnail" style="float:right" alt="gingerCat">
                    <p style="color:black"><small>Photo by Aleksandar  Cvetanović</small></p>
                </div>
                <!--This is the client review 1-->
                <div class="col-4" style="padding:20px">
                    <p class="text-center" style="padding-top:30px">&#9733 &#9733 &#9733 &#9733 &#9733</p>
                    <p class="text-center" style=" padding-top:40px"><b>John Edison</b> - "Our cats now have a defined and automated health care plan, less things for me to have to remember and think about. Great Application!"</p>
                </div>
                <!--This is the start of the picture 2 right colunm cow-->
                <div class=" col-4" style="padding:20px">
                    <img src="~/cow.jpg" class="img-thumbnail" style="float:right" alt="cow">
                    <p style="color:black"><small>Photo by Lucas Bordignon</small></p>
                </div>
            </div>
            <!--This is the start of the picture 3 left colunm bunny-->
            <div class="row">
                <div class=" col-4" style="padding-top:40px">
                    <img src="~/bunny.jpg" class="img-thumbnail" style="float:right" alt="bunny">
                    <p style="color:black"><small>Photo by Anastasiya Gepp</small></p>
                </div>
                <!--This is the client review 2-->
                <div class="col-4" style="padding:20px">
                    <p class="text-center" style="padding-top:30px">&#9733 &#9733 &#9733 &#9733 &#9733</p>
                    <p class="text-center" style=" padding-top:40px"><b>Ian Gamble</b> - "This application makes remembering my dogs medication times and dosages easy, I wish I had found this sooner"</p>
                </div>
                <!--This is the start of the picture 2 right colunm puppy-->
                <div class=" col-4" style="padding-top:40px">
                    <img src="~/puppy.jpg" class="img-thumbnail" style="float:right" alt="cow">
                    <p style="color:black"><small>Photo by Torsten Dettlaff</small></p>
                </div>
            </div>
            <!--This is the start of the picture 5 left colunm Tan Dog-->
            <div class="row">
                <div class=" col-4" style="padding-top:40px">
                    <img src="~/TanDog.jpg" class="img-thumbnail" style="float:right" alt="Tan dog">
                    <p style="color:black"><small>Photo by sk</small></p>
                </div>
                <!--This is the client review 3-->
                <div class="col-4" style="padding-top:20px">
                    <p class="text-center" style="padding-top:30px">&#9733 &#9733 &#9733 &#9733 &#9733</p>
                    <p class="text-center" style=" padding-top:40px"><b>Jaime Rodriguez</b> - "A game changer for having my pets medical history at my finger tips"</pclass="text-center">
                </div>
                <!--This is the start of the picture 6 right colunm Freedom Dog-->
                <div class=" col-4" style="padding-top:40px">
                    <img src="~/Dog.jpg" class="img-thumbnail" style="float:right" alt="dog">
                    <p style="color:black"><small>Photo by Unknown</small></p>
                </div>
            </div>
            <br>

        </div>    
   </div>
   


       